In [1]:
import pandas as pd
import numpy as np
import psycopg2 as ps
from sqlalchemy import create_engine
import os
import openpyxl

# Set display option to show all columns 
pd.set_option('display.max_columns', None)

# Change the current working directory
os.chdir('C:\\Users\\cantr\\OneDrive\\Coding\\GiordanoDB\\Peachtree')

In [2]:
current_directory = os.getcwd()

In [3]:
print(current_directory)

C:\Users\cantr\OneDrive\Coding\GiordanoDB\Peachtree

In [10]:
# df_peachtree = pd.read_csv('peachtree_spring_2025_20241209.csv')
# df_peachtree = pd.read_csv(f'league_hierarchy.csv')
df_peachtree = pd.read_csv(f'donation_category.csv')

In [11]:
df_peachtree

,donation_id,donation_category,donation_sub_category,amount
0,1,single,Single - $25 Donation,25
1,2,double,Double - $50 Donation,50
2,3,triple,"Single - $25 Donation, Double - $50 Donation",75
3,4,home run,Home Run - $120 Donation,120

In [12]:
# df_peachtree[df_peachtree['Last Name']=='bollier']
# df_peachtree[df_peachtree['Registration Date'] == '2024-05-03']
# df_peachtree['division']
# df_peachtree[df_peachtree['Division']=='Advanced Coach Pitch Tball (Baseball ages 5-6)']

In [13]:
engine = create_engine('postgresql://postgres:password@localhost:5432/1264bra')

In [14]:
ReplaceOrAppend = 'replace'
destinationschema = 'peachtree'
destinationtable = f'donation_category'

# # Assume that df is your DataFrame
# df_hankfeeds.to_sql('dailyfeeds', engine, if_exists=ReplaceOrAppend, index=False)

In [15]:
with engine.connect() as conn:
    df_peachtree.to_sql(destinationtable, con=conn, schema=destinationschema, if_exists=ReplaceOrAppend, index=False)