In [1]:
import pandas as pd
import numpy as np
import psycopg2 as ps
from psycopg2 import sql
from sqlalchemy import create_engine, text
import os
import openpyxl
from datetime import date
import glob

# Set display option to show all columns 
pd.set_option('display.max_columns', None)

# Change the current working directory
os.chdir('C:\\Users\\cantr\\OneDrive\\Coding\\GiordanoDB\\Peachtree\\registration_data')

In [2]:
current_directory = os.getcwd()
print(current_directory)

C:\Users\cantr\OneDrive\Coding\GiordanoDB\Peachtree\registration_data

In [3]:
# Function to parse and localize datetime
def parse_and_localize(date_str):
    # Remove timezone info from string
    date_str_no_tz = date_str.rsplit(' ', 1)[0]
    # Parse the datetime without timezone
    dt = pd.to_datetime(date_str_no_tz, format='%m/%d/%Y %I:%M%p')
    # # Localize the timezone (in this case, EST)
    # dt = dt.tz_localize('US/Eastern')
    return dt

# Function to apply conditional division
def divide_or_zero(row):
    if row['division'] in [8, 13, 14]:
        row[columns_to_divide] = 0
    else:
        row[columns_to_divide] = row[columns_to_divide] / order_counts[row.name]
    return row

def sanitize_columns(col_index: pd.Index, desired_columns: list = None) -> pd.Index:
    # Remove literal backslash-uFEFF sequences
    col_index = col_index.str.replace(r'\\uFEFF', '', regex=True)
    # Remove any real BOM character at start
    col_index = col_index.str.lstrip('\ufeff')
    # Trim whitespace
    col_index = col_index.str.strip()
    # Normalize: lowercase and replace spaces with underscores
    col_index = col_index.str.lower().str.replace(' ', '_')
    
    return col_index

# def summarize_dataframe(df):
#     """Summarize a dataframe, and report missing values."""
#     missing_values = pd.concat([
#         pd.DataFrame(df.columns, columns=['Variable Name']),
#         pd.DataFrame(df.dtypes.values.reshape([-1,1]), columns=['Data Type']),
#         pd.DataFrame(df.isnull().sum().values, columns=['Missing Values']),
#         pd.DataFrame([df[name].nunique() for name in df.columns], columns=['Unique Values'])
#     ], axis=1).set_index('Variable Name')

#     with pd.option_context("display.max_rows", 1000):
#         summary = pd.concat([missing_values, df.describe(include='all').transpose()], axis=1).infer_objects(copy=False).fillna("")
#         display(summary)

In [44]:
# 1) Helper to clean up column names
#see function in block above

# 2) Season selector
season = 'spring 2026'
full_or_override = season.replace(' ', '_') if season != 'full' else 'full'

# 3) Gather CSVs
all_files = glob.glob('*.csv')

if full_or_override == 'full':
    csv_files_to_process = all_files
else:
    match = next((f for f in all_files if full_or_override in f), None)
    if not match:
        raise FileNotFoundError(f"No CSV file found matching '{full_or_override}'")
    csv_files_to_process = [match]

# 4) Define your clean, desired column order
desired_columns = [
    'Entry Number', 'SportsEngine ID', 'Registration Date', 'First Name',
    'Last Name', 'Preferred Name', 'Birthdate', 'Gender', 'Shirt Size',
    'Previous Seasons?', 'Previous Spring Team', 'Address 1', 'City',
    'State', 'Zip', 'Country', 'School', 'Grade', 'Sport',
    'division', 'Division (Softball)', 'Division (SB)', 'player_age', 'SB Age',
    'Coach Request', 'Player Request', 'All Girl Tball team?',
    'All Girl Coach Pitch Team', 'Sibling?', 'CANNOT Practice Days',
    'Guardian First Name', 'Guardian Last Name', 'play_up_acknowledgment',
    'Parent/Guardian Cell Phone', 'Guardian Home Phone', 'Guardian Email',
    'Coaching Interest?', 'Head vs Assistant Coach',
    'First Name of Potential Coach', 'Last Name of Potential Coach',
    'Shirt Size_Coach', 'Sponsor Interest?', 'Order Number',
    'Account Email', 'Entry Status', 'Order Status', 'Gross', 'Net',
    'Service Fee', 'Discount Amount', 'Discount Names', 'Subtotal',
    'Refunds', 'Donate', 'Season Team Name', 'Season Team Division Name'
]

# 5) Read, sanitize, tag, and collect
dfs = []
for file in csv_files_to_process:
    df = pd.read_csv(file, encoding='utf-8-sig')
    
    # Sanitize all header names
    df.columns = sanitize_columns(df.columns)
    
    # Map column variations to standard names before reindexing
    column_mapping = {
        'sport_': 'sport',
        'division_(baseball_and_t-ball)': 'division',
        'division_(bb/tb)': 'division',
        'division_(sb)': 'division_(softball)',
        'i_understand_the_criteria_for_evaluating_to_play_up_in_an_older_division_as_written_in_the_peachtree_bylaws_and_summarized_above.': 'play_up_acknowledgment',
        'bb_age': 'player_age'
    }
    df.rename(columns=column_mapping, inplace=True)
    
    # Reorder to desired columns (missing columns become NaN)
    desired_cols_lower = [col.lower().replace(' ', '_') for col in desired_columns]
    df = df.reindex(columns=desired_cols_lower)

    # Tag with season identifier
    if full_or_override == 'full':
        base = os.path.splitext(os.path.basename(file))[0]
        file_identifier = '_'.join(base.split('_')[1:3])
    else:
        file_identifier = full_or_override
    
    df['season'] = file_identifier

    # # Rename to final standard names
    # df.rename(columns={'division_(baseball_and_t-ball)': 'division'
    #                   , 'division_(softball)': 'division_softball'
    #                   }, inplace=True)
    
    dfs.append(df)

# 6) Combine everything
df_peachtree_stepone = pd.concat(dfs, ignore_index=True)

df_peachtree_orig = df_peachtree_stepone.copy()

In [45]:
df_peachtree_orig[df_peachtree_orig['last_name']=='Breeden']

,entry_number,sportsengine_id,registration_date,first_name,last_name,preferred_name,birthdate,gender,shirt_size,previous_seasons?,previous_spring_team,address_1,city,state,zip,country,school,grade,sport,division,division_(softball),division_(sb),player_age,sb_age,coach_request,player_request,all_girl_tball_team?,all_girl_coach_pitch_team,sibling?,cannot_practice_days,guardian_first_name,guardian_last_name,play_up_acknowledgment,parent/guardian_cell_phone,guardian_home_phone,guardian_email,coaching_interest?,head_vs_assistant_coach,first_name_of_potential_coach,last_name_of_potential_coach,shirt_size_coach,sponsor_interest?,order_number,account_email,entry_status,order_status,gross,net,service_fee,discount_amount,discount_names,subtotal,refunds,donate,season_team_name,season_team_division_name,season
93,157019471,SN-PFJ508849,"12/08/2025, 09:09pm EST",Casey,Breeden,NaN,11/03/2011,Female,Y-L,1,12u,8191 summerrest ln,Greenwood,VA,22943,United States,Henley Middle School,8,Softball,NaN,Refunded Softball,NaN,NaN,13.0,NaN,NaN,NaN,NaN,Kinsleigh,Thursdays,Heather,Breeden,NaN,4344099864,4344099864,luvnmy4always@hotmail.com,No,NaN,NaN,NaN,NaN,No,NMIL76162,luvnmy4always@hotmail.com,Inactive,Open,$0.00,$0.00,$0.00,$0.00,NaN,$240.00,$0.00,NaN,NaN,NaN,spring_2026
94,157019730,SN-PRU500573,"12/08/2025, 09:09pm EST",Kinsleigh,Breeden,NaN,07/22/2014,Female,Y-M,0,12u,8191 Summerest ln,Greenwood,VA,22943,United States,Henley Middle School,6,Softball,NaN,Refunded Softball,NaN,NaN,11.0,NaN,NaN,NaN,NaN,Casey,Thursdays,Heather,Breeden,NaN,4344099864,4344099864,luvnmy4always@hotmail.com,No,NaN,NaN,NaN,NaN,No,NMIL76162,luvnmy4always@hotmail.com,Inactive,Paid,$0.00,$0.00,$0.00,$240.00,NaN,$240.00,$0.00,NaN,NaN,NaN,spring_2026

In [46]:
today = date.today().strftime("%m/%d/%Y")

In [47]:
# df_peachtree_orig[df_peachtree_orig['last_name']=='Giordano']
# df_peachtree_orig.head(5)
# df_peachtree_orig.columns
# df_peachtree_orig['division'].value_counts().reset_index(name='count')

In [48]:
conn = ps.connect(database="1264bra", user="postgres", password="password", host="localhost", port="5432") 

cur = conn.cursor()

sql_query_leagues = """
    select league_id
            , sub_division
    from peachtree.league_hierarchy
"""

cur.execute(sql_query_leagues)

results = cur.fetchall()
column_names = [desc[0] for desc in cur.description]
df_peachtree_hierarchy = pd.DataFrame(results, columns=column_names)

###

conn.rollback()
sql_query_donations = """
    select gender_id
            , gender
    from peachtree.gender
"""
cur.execute(sql_query_donations)


results = cur.fetchall()
column_names = [desc[0] for desc in cur.description]
df_peachtree_gender = pd.DataFrame(results, columns=column_names)

###

conn.rollback()
sql_query_donations = """
    select all_girl_preference_id
            , all_girl_coach_pitch_team
            , preference_standardized
    from peachtree.all_girls_team_preference
"""
cur.execute(sql_query_donations)


results = cur.fetchall()
column_names = [desc[0] for desc in cur.description]
df_peachtree_all_girl_cp = pd.DataFrame(results, columns=column_names)

###

conn.rollback()
sql_query_donations = """
    select donation_id
            , donation_sub_category
            , amount
    from peachtree.donation_category
"""
cur.execute(sql_query_donations)


results = cur.fetchall()
column_names = [desc[0] for desc in cur.description]
df_peachtree_donations = pd.DataFrame(results, columns=column_names)

###

conn.rollback()
sql_query_player_info = """
    select peachtree_id
            , sportsengine_id
    from peachtree.player_info
"""
cur.execute(sql_query_player_info)


results = cur.fetchall()
column_names = [desc[0] for desc in cur.description]
df_peachtree_player_info= pd.DataFrame(results, columns=column_names)

###

conn.rollback()
sql_query_schools = """
        select school_original
                        , school_normalized_id
        from peachtree.vw_school_reference
"""
cur.execute(sql_query_schools)


results = cur.fetchall()
column_names = [desc[0] for desc in cur.description]
df_peachtree_schools= pd.DataFrame(results, columns=column_names)


# Close the cursor and connection 
cur.close() 
conn.close()

In [49]:
df_peachtree_dict = df_peachtree_hierarchy.set_index('sub_division')['league_id'].to_dict()

df_peachtree_donation_dict = df_peachtree_donations.set_index('donation_sub_category')['donation_id'].to_dict()

df_peachtree_gender_dict = df_peachtree_gender.set_index('gender')['gender_id'].to_dict()

df_peachtree_all_girl_dict = df_peachtree_all_girl_cp.set_index('all_girl_coach_pitch_team')['all_girl_preference_id'].to_dict()

df_peachtree_player_dict = df_peachtree_player_info.set_index('sportsengine_id')['peachtree_id'].to_dict()

df_peachtree_schools_dict = df_peachtree_schools.set_index('school_original')['school_normalized_id'].to_dict()

In [50]:
df_peachtree = df_peachtree_orig.copy()

In [51]:
# df_peachtree_orig.head()

In [52]:
# Remove commas from 'Registration Date' column
df_peachtree['registration_date'] = df_peachtree['registration_date'].str.replace(',', '')

In [53]:
# Apply function to DataFrame column
df_peachtree['registration_date'] = df_peachtree['registration_date'].apply(parse_and_localize)

# Convert to datetime without timezone information
df_peachtree['registration_date'] = pd.to_datetime(df_peachtree['registration_date'], format='%m/%d/%Y %I:%M%p')

In [54]:
# Creating the new date column 'registration_date'
df_peachtree['registration_date'] = df_peachtree['registration_date'].dt.date

# Assuming df_peachtree is your DataFrame
df_peachtree['registration_date'] = pd.to_datetime(df_peachtree['registration_date'])

df_peachtree['birthdate'] = pd.to_datetime(
    df_peachtree['birthdate'],
    format='%m/%d/%Y',
    errors='coerce'
)

df_peachtree['birthdate'] = df_peachtree['birthdate'].dt.strftime('%Y-%m-%d')

# Assuming df_peachtree is your DataFrame
df_peachtree = df_peachtree.map(lambda x: x.strip() if isinstance(x, str) else x)

# Extract 4-digit year
df_peachtree['season_year'] = df_peachtree['season'].str.extract(r'(\d{4})').astype(float)

# Mask: any season in 2026 or later
mask = df_peachtree['season_year'] >= 2026

df_peachtree['sport'] = df_peachtree['sport'].astype(str)

df_peachtree.loc[
    mask & df_peachtree['sport'].isin(['T-Ball','Coach Pitch','Baseball']),
    'sport'
] = 'Baseball'

# Apply the replacement only where the mask is True
df_peachtree.loc[mask & df_peachtree['sport'].isin(['T-Ball','Coach Pitch','Baseball']), 'sport'] = 'Baseball'

# Remove underscores from the 'filename' column
df_peachtree['season'] = df_peachtree['season'].str.replace('_', ' ')

# Remove ' from the 'school' column
df_peachtree['school'] = df_peachtree['school'].str.replace("â€™", "'")

# Removing '?' from any column headers 
df_peachtree.columns = df_peachtree.columns.str.replace('?', '')

# Applying title case to 'first_name' and 'last_name' columns
df_peachtree['first_name'] = df_peachtree['first_name'].str.title()
df_peachtree['last_name'] = df_peachtree['last_name'].str.title()


df_peachtree.loc[df_peachtree['division'].isnull(), 'division'] = df_peachtree.loc[df_peachtree['division'].isnull(), 'division_(softball)']
df_peachtree.loc[df_peachtree['player_age'].isnull(), 'player_age'] = df_peachtree.loc[df_peachtree['player_age'].isnull(), 'sb_age']
# df_peachtree['division'] = df_peachtree['division'].fillna(df_peachtree['division_(softball)'])

df_peachtree['division'] = df_peachtree['division'].map(df_peachtree_dict)

df_peachtree['donate'] = df_peachtree['donate'].map(df_peachtree_donation_dict)

df_peachtree['gender'] = df_peachtree['gender'].map(df_peachtree_gender_dict)

# Convert the dictionary keys to lowercase, handling NoneType keys
df_peachtree_schools_dict = {k.lower() if k is not None else 'unknown': v for k, v in df_peachtree_schools_dict.items()}

# Replace NoneType and 'None' string values in the 'school' column with 'Unknown'
df_peachtree['school'] = df_peachtree['school'].fillna('Unknown').replace('None', 'Unknown')

# Map the 'school' column in a case-insensitive manner
# df_peachtree['school'] = df_peachtree['school'].str.lower().map(df_peachtree_schools_dict)
df_peachtree['school'] = df_peachtree['school'].str.strip().str.lower().map(df_peachtree_schools_dict)

# Custom mapping function to handle NaN values
def map_values(val, mapping_dict):
    if pd.isna(val):
        return mapping_dict.get(None)
    else:
        return mapping_dict.get(val, val)

# Applying the custom mapping function
df_peachtree['all_girl_coach_pitch_team'] = df_peachtree['all_girl_coach_pitch_team'].apply(map_values, args=(df_peachtree_all_girl_dict,))

df_peachtree['peachtree_id'] = df_peachtree['sportsengine_id'].map(df_peachtree_player_dict)

# Define the columns and their target data types
columns_to_convert = {
    'gross': float,
    'net': float,
    'service_fee': float,
    'discount_amount': float,
    'subtotal': float,
    'refunds': float,
    'entry_number': object,
    'donate': object,
    'peachtree_id':object,
    'school': object, 
    'division': object
}

# Remove dollar signs and convert to the specified data types
for column, dtype in columns_to_convert.items():
    if dtype == float:
        df_peachtree[column] = df_peachtree[column].replace(r'[\$,]', '', regex=True).astype(dtype)
    elif dtype == 'int64':
        df_peachtree[column] = df_peachtree[column].fillna(0).astype(dtype)
    else:
        df_peachtree[column] = df_peachtree[column].astype(dtype)

# Update 'division' based on 'refunds to 'Refunded'/8
# df_peachtree['division'] = df_peachtree.apply(lambda row: 8 if row['refunds'] > 0 else row['division'], axis=1)
df_peachtree['division'] = df_peachtree.apply(lambda row: 8 if row['refunds'] == row['gross'] and row['gross'] != 0.00 else row['division'], axis=1)

# Calculate the count of records for each order_number, excluding divisions 13 and 14
order_counts = df_peachtree[df_peachtree['division'].isin([8, 13, 14]) == False].groupby('order_number')['order_number'].transform('count')

# Columns to be divided
columns_to_divide = ['gross', 'net', 'service_fee', 'subtotal']

# # Divide the selected columns by the count, excluding divisions 13 and 14
# df_peachtree[columns_to_divide] = df_peachtree.apply(lambda row: row[columns_to_divide] / order_counts[row.name] if row['division'] not in [13, 14] else row[columns_to_divide], axis=1)

# Apply the function to each row in the DataFrame 
df_peachtree = df_peachtree.apply(divide_or_zero, axis=1)

# Renaming the column 'donate' to 'donate_id' 
df_peachtree.rename(columns={'donate': 'donation_id'
                             ,'gender':'gender_id'
                             , 'all_girl_coach_pitch_team': 'all_girl_coach_pitch_id'
                             }, inplace=True)

# Fill null donation_id with 0.00
df_peachtree['donation_id'] = df_peachtree['donation_id'].fillna(0.00)

df_peachtree = df_peachtree.drop(columns=['division_(softball)'
                                          , 'sb_age'
                                          , 'division_(sb)'
                                        #   , 'last_name'
                                        #   , 'preferred_name'
                                        #   , 'birthdate'
                                        #   , 'address_1'
                                        #   , 'city'
                                        #   , 'state'
                                        #   , 'zip'
                                        #   , 'sportsengine_id'
                                          ])

In [55]:
# df_peachtree['division'].value_counts().reset_index()
# df_peachtree[df_peachtree['division']==8]

In [56]:
# Calculate subtotal_true with additional checks
df_peachtree['subtotal_true'] = df_peachtree.apply(lambda row: 
    row['subtotal'] - df_peachtree_donations[df_peachtree_donations['donation_id'] == row['donation_id']]['amount'].sum() 
    if row['donation_id'] != 0 else row['subtotal'], axis=1)

In [57]:
# df_peachtree[(df_peachtree['season']== 'spring 2025') & (df_peachtree['last_name']=="Giordano")]

In [58]:
# summarize_dataframe(df_peachtree)

In [60]:
# df_peachtree[(df_peachtree['school']==58) & (df_peachtree['season']== 'spring 2024')]
# df_peachtree[(df_peachtree['school'].isna()) & (df_peachtree['season']== 'spring 2026')]
# df_peachtree[(df_peachtree['division'].isna()) & (df_peachtree['season']== 'spring 2026')]
# df_peachtree[df_peachtree['registration_date'] == '2023-11-30']
# df_peachtree['division'].value_counts()
# df_peachtree[df_peachtree['division']==6]
# df_peachtree.value_counts('gender')
df_peachtree[df_peachtree['last_name']=="Breeden"]
# df_peachtree

,entry_number,sportsengine_id,registration_date,first_name,last_name,preferred_name,birthdate,gender_id,shirt_size,previous_seasons,previous_spring_team,address_1,city,state,zip,country,school,grade,sport,division,player_age,coach_request,player_request,all_girl_tball_team,all_girl_coach_pitch_id,sibling,cannot_practice_days,guardian_first_name,guardian_last_name,play_up_acknowledgment,parent/guardian_cell_phone,guardian_home_phone,guardian_email,coaching_interest,head_vs_assistant_coach,first_name_of_potential_coach,last_name_of_potential_coach,shirt_size_coach,sponsor_interest,order_number,account_email,entry_status,order_status,gross,net,service_fee,discount_amount,discount_names,subtotal,refunds,donation_id,season_team_name,season_team_division_name,season,season_year,peachtree_id,subtotal_true
93,157019471,SN-PFJ508849,2025-12-08,Casey,Breeden,NaN,2011-11-03,1,Y-L,1,12u,8191 summerrest ln,Greenwood,VA,22943,United States,19.0,8,Softball,24,13.0,NaN,NaN,NaN,3,Kinsleigh,Thursdays,Heather,Breeden,NaN,4344099864,4344099864,luvnmy4always@hotmail.com,No,NaN,NaN,NaN,NaN,No,NMIL76162,luvnmy4always@hotmail.com,Inactive,Open,0.0,0.0,0.0,0.0,NaN,120.0,0.0,0.0,NaN,NaN,spring 2026,2026.0,159,120.0
94,157019730,SN-PRU500573,2025-12-08,Kinsleigh,Breeden,NaN,2014-07-22,1,Y-M,0,12u,8191 Summerest ln,Greenwood,VA,22943,United States,19.0,6,Softball,24,11.0,NaN,NaN,NaN,3,Casey,Thursdays,Heather,Breeden,NaN,4344099864,4344099864,luvnmy4always@hotmail.com,No,NaN,NaN,NaN,NaN,No,NMIL76162,luvnmy4always@hotmail.com,Inactive,Paid,0.0,0.0,0.0,240.0,NaN,120.0,0.0,0.0,NaN,NaN,spring 2026,2026.0,448,120.0

In [61]:
# Apply season filter only if a specific override is set
if full_or_override != 'full':
    df_peachtree_orig = df_peachtree_orig[df_peachtree_orig['season'] == season]

In [62]:
# # Get the total sum of 'gross' grouped by 'season'
# gross_totals_by_season = df_peachtree.groupby('season')['gross'].sum()

# # Display the result
# print(gross_totals_by_season)

In [63]:
df_peachtree.shape[0]

420

In [64]:
for df in [df_peachtree, df_peachtree_stepone]:
    df['first_name'] = df['first_name'].str.strip().str.lower()
    df['last_name']  = df['last_name'].str.strip().str.lower()
    
df_peachtree_stepone.loc[df_peachtree_stepone['season'].isna(), 'season'] = season

mask_school = df_peachtree['school'].isna()

df_missing = df_peachtree.loc[mask_school, ['first_name','last_name', 'school']].copy()

df_missing = df_missing.merge(
    df_peachtree_stepone[['first_name','last_name', 'school']],
    on=['first_name','last_name'],
    how='left',
    suffixes=('_current', '_orig')
)

df_missing

  first_name last_name  school_current                           school_orig
0       zeke    keller             NaN  Crozet Elementary / Millstone of Ivy
1      jesse    mcfall             NaN                 Brownville Elementary
2   harrison    cooper             NaN                  Community Lab School

In [65]:
# Determine write mode based on override
ReplaceOrAppend = 'replace' if full_or_override == 'full' else 'append'

# Database connection
engine = create_engine('postgresql://postgres:password@localhost:5432/1264bra')

# Target schema and table
destinationschema = 'peachtree'
destinationtable = 'player_registrations'

In [66]:
df_peachtree.drop(columns=['season_year'], inplace=True, errors='ignore')

In [67]:
# Count rows before upload
upload_count = len(df_peachtree)

with engine.begin() as conn:
    if full_or_override != 'full':
        delete_query = text(f"""
            DELETE FROM {destinationschema}.{destinationtable}
            WHERE season = :season
        """)
        result = conn.execute(delete_query, {"season": season})
        print(f"Deleted {result.rowcount} rows for season '{season}'")

    df_peachtree.to_sql(
        name=destinationtable,
        con=conn,
        schema=destinationschema,
        if_exists=ReplaceOrAppend,
        index=False
    )

print(f"Uploaded {upload_count} rows for '{season}' load")

Deleted 420 rows for season 'spring 2026'
Uploaded 420 rows for 'spring 2026' load

In [27]:
df_peachtree[df_peachtree['registration_date']==today].shape[0]

0

In [28]:
df_peachtree[df_peachtree['peachtree_id'].isna()]

Empty DataFrame
Columns: [entry_number, sportsengine_id, registration_date, first_name, last_name, preferred_name, birthdate, gender_id, shirt_size, previous_seasons, previous_spring_team, address_1, city, state, zip, country, school, grade, sport, division, player_age, coach_request, player_request, all_girl_tball_team, all_girl_coach_pitch_id, sibling, cannot_practice_days, guardian_first_name, guardian_last_name, play_up_acknowledgment, parent/guardian_cell_phone, guardian_home_phone, guardian_email, coaching_interest, head_vs_assistant_coach, first_name_of_potential_coach, last_name_of_potential_coach, shirt_size_coach, sponsor_interest, order_number, account_email, entry_status, order_status, gross, net, service_fee, discount_amount, discount_names, subtotal, refunds, donation_id, season_team_name, season_team_division_name, season, peachtree_id, subtotal_true]
Index: []

In [141]:
df_peachtree['division'].value_counts()

division
7     72
2     57
4     55
3     54
9     46
6     44
10    19
11    16
21    14
1     11
12    10
23    10
22     9
24     1
Name: count, dtype: int64

In [142]:
df_peachtree[df_peachtree['refunds'] == df_peachtree['gross']]

,entry_number,sportsengine_id,registration_date,first_name,last_name,preferred_name,birthdate,gender_id,shirt_size,previous_seasons,previous_spring_team,address_1,city,state,zip,country,school,grade,sport,division,player_age,coach_request,player_request,all_girl_tball_team,all_girl_coach_pitch_id,sibling,cannot_practice_days,guardian_first_name,guardian_last_name,play_up_acknowledgment,parent/guardian_cell_phone,guardian_home_phone,guardian_email,coaching_interest,head_vs_assistant_coach,first_name_of_potential_coach,last_name_of_potential_coach,shirt_size_coach,sponsor_interest,order_number,account_email,entry_status,order_status,gross,net,service_fee,discount_amount,discount_names,subtotal,refunds,donation_id,season_team_name,season_team_division_name,season,peachtree_id,subtotal_true
56,156900154,SN-PJG594774,2025-12-04,abel,miller,NaN,2022-02-16,2,Y-XS,0,NaN,5874 St George Ave,Crozet,VA,22932,United States,47.0,Pre-School or Pre-K,"T-Ball, Coach Pitch and Baseball",7,4.0,NaN,NaN,NaN,3,NaN,NaN,Tiffany,Miller,NaN,4349891338,4349891338,tiffany.miller31@gmail.com,No,NaN,NaN,NaN,NaN,No,TZRM15769,tiffany.miller31@gmail.com,Active,Open,0.0,0.0,0.0,0.0,NaN,105.0,0.0,0.0,NaN,NaN,spring 2026,4,105.0
61,156921013,SN-PNJ725744,2025-12-05,liam,sundstrom,NaN,2018-03-01,2,Y-M,1,NaN,1139 Kingsway road,Afton,VA,22920,United States,6.0,2,"T-Ball, Coach Pitch and Baseball",4,8.0,NaN,NaN,NaN,3,no,NaN,Jessica,Sundstrom,NaN,4344097818,4344097817,jessica.r.sundstrom@gmail.com,No,NaN,NaN,NaN,NaN,No,CGTQ11534,jessica.r.sundstrom@gmail.com,Active,Open,0.0,0.0,0.0,0.0,NaN,120.0,0.0,0.0,NaN,NaN,spring 2026,475,120.0
93,157019471,SN-PFJ508849,2025-12-08,casey,breeden,NaN,2011-11-03,1,Y-L,1,12u,8191 summerrest ln,Greenwood,VA,22943,United States,19.0,8,Softball,24,13.0,NaN,NaN,NaN,3,Kinsleigh,Thursdays,Heather,Breeden,NaN,4344099864,4344099864,luvnmy4always@hotmail.com,No,NaN,NaN,NaN,NaN,No,NMIL76162,luvnmy4always@hotmail.com,Inactive,Open,0.0,0.0,0.0,0.0,NaN,120.0,0.0,0.0,NaN,NaN,spring 2026,159,120.0
94,157019730,SN-PRU500573,2025-12-08,kinsleigh,breeden,NaN,2014-07-22,1,Y-M,0,12u,8191 Summerest ln,Greenwood,VA,22943,United States,19.0,6,Softball,11,11.0,NaN,NaN,NaN,3,Casey,Thursdays,Heather,Breeden,NaN,4344099864,4344099864,luvnmy4always@hotmail.com,No,NaN,NaN,NaN,NaN,No,NMIL76162,luvnmy4always@hotmail.com,Inactive,Paid,0.0,0.0,0.0,240.0,NaN,120.0,0.0,0.0,NaN,NaN,spring 2026,448,120.0
233,157813282,SN-PKR310655,2026-01-06,caden,blackwell,NaN,2013-05-21,2,Y-L,6,Majors cubs,5452 Free Union Rd,Free Union,VA,22940,United States,19.0,7,"T-Ball, Coach Pitch and Baseball",2,12.0,NaN,NaN,NaN,3,Chase Blackwell hopefully Majors,NaN,Chris,Blackwell,NaN,4349601469,434-960-1469,91cblackwell@gmail.com,Yes,Assistant Coach,Chris,Blackwell,A-XL,No,STOK22286,91cblackwell@gmail.com,Active,Open,0.0,0.0,0.0,0.0,NaN,120.0,0.0,0.0,NaN,NaN,spring 2026,135,120.0
234,157813719,SN-PTU065687,2026-01-06,chase,blackwell,NaN,2015-10-30,2,Y-M,5,Minors River Dogs,5452 Free Union Rd,Free Union,VA,22940,United States,25.0,4,"T-Ball, Coach Pitch and Baseball",23,10.0,NaN,NaN,NaN,3,Caden Blackwell Majors,NaN,Chris,Blackwell,I understand,4349601469,434960-1469,91cblackwell@gmail.com,Yes,Assistant Coach,Chris,Blackwell,A-XL,No,STOK22286,91cblackwell@gmail.com,Active,Open,0.0,0.0,0.0,0.0,NaN,120.0,0.0,0.0,NaN,NaN,spring 2026,174,120.0
301,157810653,SN-PCX104430,2026-01-10,paxton,lively,Pax,2018-04-03,2,Y-XS,4,Rookie Nationals Peachtree,5474 Three Notch'd Rd,Crozet,VA,22932,United States,11.0,2,"T-Ball, Coach Pitch and Baseball",4,8.0,NaN,NaN,NaN,3,NaN,NaN,Candace,Lively,NaN,4344653622,4344653622,clively10@hotmail.com,No,NaN,NaN,NaN,NaN,No,WFLH71065,clively10@hotmail.com,Active,Open,0.0,0.0,0.0,0.0,NaN,120.0,0.0,0.0,NaN,NaN,spring 2026,624,120.0
302,157812419,SN-PSN450312,2026-01-10,kayleigh,brooks,NaN,2011-08-23,1,A-XL,3,12U Pitbulls Peachtree,5474 Three Notch'd Rd,Crozet,VA,22932,United States,50.0,9,Softball,12,14.0,NaN,NaN,NaN,3,NaN,NaN,Candace,Lively,NaN,4344653622,4344653622,clively10@hotmail.com,No,NaN,NaN,NaN,NaN,No,WFLH71065,clively10@hotmail.com,Active,Open,0.0,0.0,0.0,0.0,NaN,120.0,0.0,0.0,NaN,NaN,spring 2026,441,120.0
351,158072872,SN-PSN002552,2026-01-12,shayn,steppe,NaN,2014-05-03,2,A-L,4,10u,1640 Wickham Way,Charlottesville,VA,22901,United States,19.0,6,"T-Ball, Coach Pitch and Baseball",2,11.0,NaN,NaN,NaN,3,Not any longer,NaN,Wilbert,Steppe,NaN,614-893-2608,434-812-2258,madic4me@gmail.com,No,NaN,NaN,NaN,NaN,No,KFPM69141,eosteppe@gmail.com,Active,Open,0.0,0.0,0.0,0.0,NaN,120.0,0.0,0.0,NaN,NaN,spring 2026,690,120.0
365,158085196,SN-PZL841279,2026-01-12,brayden,keyton,NaN,2016-01-11,2,Y-M,3,Minor,7008 Jarmans Gap Rd,Crozet,VA,22932,United States,6.0,4,"T-Ball, Coach Pitch and Baseball",23,10.0,NaN,NaN,NaN,3,Jace Major,NaN,Maria,Martinez,NaN,4345665242,4345665242,mimarti1984@gmail.com,No,NaN,NaN,NaN,NaN,No,RGUE62996,mimarti2@sentara.com,Active,Open,0.0,0.0,0.0,0.0,NaN,120.0,0.0,0.0,NaN,NaN,spring 2026,113,120.0
371,158085417,SN-PCW778217,2026-01-12,jace,keyton,NaN,2013-09-20,2,Y-L,5,Major,7008 Jarmans Gap Rd,Crozet,VA,22932,United States,19.0,7,"T-Ball, Coach Pitch and Baseball",2,12.0,NaN,NaN,NaN,3,Brayden Minors,NaN,Maria,Martinez,NaN,4345665242,4345665242,mimarti1984@gmail.com,No,NaN,NaN,NaN,NaN,No,APFB83431,mimarti2@sentara.com,Active,Open,0.0,0.0,0.0,0.0,NaN,120.0,0.0,0.0,NaN,NaN,spring 2026,369,120.0
375,158095214,SN-PBV813618,2026-01-12,easton,payne,NaN,2018-04-02,2,Y-S,3,Dodgers,902 Beagle Gap Rd,Afton,VA,22932,United States,6.0,2,"T-Ball, Coach Pitch and Baseball",4,8.0,NaN,NaN,NaN,3,NaN,NaN,Tiffany,Shifflett,NaN,434-270-3709,434-270-3709,4angels1983.ts@gmail.com,No,NaN,NaN,NaN,NaN,No,KBYJ55564,4angels1983.ts@gmail.com,Active,Open,0.0,0.0,0.0,0.0,NaN,120.0,0.0,0.0,NaN,NaN,spring 2026,229,120.0