In [1]:
import pandas as pd
import numpy as np
import psycopg2 as ps
from psycopg2 import sql
from sqlalchemy import create_engine, text
import os
import openpyxl
from datetime import date
import glob

# Set display option to show all columns 
pd.set_option('display.max_columns', None)

# Change the current working directory
os.chdir('C:\\Users\\cantr\\OneDrive\\Coding\\GiordanoDB\\Peachtree\\registration_data')

In [2]:
current_directory = os.getcwd()
print(current_directory)

C:\Users\cantr\OneDrive\Coding\GiordanoDB\Peachtree\registration_data

In [3]:
# Function to parse and localize datetime
def parse_and_localize(date_str):
    # Remove timezone info from string
    date_str_no_tz = date_str.rsplit(' ', 1)[0]
    # Parse the datetime without timezone
    dt = pd.to_datetime(date_str_no_tz, format='%m/%d/%Y %I:%M%p')
    # # Localize the timezone (in this case, EST)
    # dt = dt.tz_localize('US/Eastern')
    return dt

# Function to apply conditional division
def divide_or_zero(row):
    if row['division'] in [8, 13, 14]:
        row[columns_to_divide] = 0
    else:
        row[columns_to_divide] = row[columns_to_divide] / order_counts[row.name]
    return row

def sanitize_columns(col_index: pd.Index) -> pd.Index:
    # Remove literal backslash-uFEFF sequences
    col_index = col_index.str.replace(r'\\uFEFF', '', regex=True)
    # Remove any real BOM character at start
    col_index = col_index.str.lstrip('\ufeff')
    # Trim whitespace
    col_index = col_index.str.strip()
    return col_index

In [47]:
# 1) Helper to clean up column names
#see function in block above

# 2) Season selector
season = 'fall 2025'
full_or_override = season.replace(' ', '_') if season != 'full' else 'full'

# 3) Gather CSVs
all_files = glob.glob('*.csv')

if full_or_override == 'full':
    csv_files_to_process = all_files
else:
    match = next((f for f in all_files if full_or_override in f), None)
    if not match:
        raise FileNotFoundError(f"No CSV file found matching '{full_or_override}'")
    csv_files_to_process = [match]

# 4) Define your clean, desired column order
desired_columns = [
    'Entry Number', 'SportsEngine ID', 'Registration Date', 'First Name',
    'Last Name', 'Preferred Name', 'Birthdate', 'Gender', 'Shirt Size',
    'Previous Seasons?', 'Previous Spring Team', 'Address 1', 'City',
    'State', 'Zip', 'Country', 'School', 'Grade', 'Sport ',
    'Division (Baseball and T-Ball)', 'Division (Softball)',
    'Coach Request', 'Player Request', 'All Girl Tball team?',
    'All Girl Coach Pitch Team', 'Sibling?', 'CANNOT Practice Days',
    'Guardian First Name', 'Guardian Last Name',
    'Parent/Guardian Cell Phone', 'Guardian Home Phone', 'Guardian Email',
    'Coaching Interest?', 'Head vs Assistant Coach',
    'First Name of Potential Coach', 'Last Name of Potential Coach',
    'Shirt Size_Coach', 'Sponsor Interest?', 'Order Number',
    'Account Email', 'Entry Status', 'Order Status', 'Gross', 'Net',
    'Service Fee', 'Discount Amount', 'Discount Names', 'Subtotal',
    'Refunds', 'Donate', 'Season Team Name', 'Season Team Division Name'
]

# 5) Read, sanitize, tag, and collect
dfs = []
for file in csv_files_to_process:
    # Read with utf-8-sig to drop any real BOM at start of file
    df = pd.read_csv(file, encoding='utf-8-sig')
    # Sanitize all header names
    df.columns = sanitize_columns(df.columns)
    # Optional: print to confirm
    # print(f"{file} → cleaned headers:", df.columns.tolist())
    # Reorder (missing columns become NaN)
    df = df.reindex(columns=desired_columns)
    
    # Tag with season identifier
    if full_or_override == 'full':
        # e.g. take “fall_2025” out of filename like “data_fall_2025.csv”
        base = os.path.splitext(os.path.basename(file))[0]
        file_identifier = '_'.join(base.split('_')[1:3])
    else:
        file_identifier = full_or_override
    
    df['season'] = file_identifier
    dfs.append(df)

# 6) Combine everything
df_peachtree_orig = pd.concat(dfs, ignore_index=True)

In [48]:
# # Use glob to grab all CSV files in the current directory
# csv_files = glob.glob('*.csv')

# # Initialize an empty list to hold the dataframes
# dfs = []

# # Define the desired column order (adjust this list based on your actual columns)
# desired_columns = ['Entry Number', 'SportsEngine ID', 'Registration Date', 'First Name',
#        'Last Name', 'Preferred Name', 'Birthdate', 'Gender', 'Shirt Size',
#        'Previous Seasons?', 'Previous Spring Team', 'Address 1', 'City',
#        'State', 'Zip', 'Country', 'School', 'Grade', 'Sport ',
#        'Division (Baseball and T-Ball)', 'Division (Softball)',
#        'Coach Request', 'Player Request', 'All Girl Tball team?',
#        'All Girl Coach Pitch Team', 'Sibling?', 'CANNOT Practice Days',
#        'Guardian First Name', 'Guardian Last Name',
#        'Parent/Guardian Cell Phone', 'Guardian Home Phone', 'Guardian Email',
#        'Coaching Interest?', 'Head vs Assistant Coach',
#        'First Name of Potential Coach', 'Last Name of Potential Coach',
#        'Shirt Size_Coach', 'Sponsor Interest?', 'Order Number',
#        'Account Email', 'Entry Status', 'Order Status', 'Gross', 'Net',
#        'Service Fee', 'Discount Amount', 'Discount Names', 'Subtotal',
#        'Refunds', 'Donate', 'Season Team Name', 'Season Team Division Name']  # Add all your columns here

# # Loop through the list of CSV files
# for file in csv_files:
#     # Read the CSV file into a dataframe
#     df = pd.read_csv(file)
#     # Extract the relevant part of the file name (e.g., fall_2024)
#     # Ensure the columns are in the desired order 
#     df = df.reindex(columns=desired_columns)
#     file_identifier = '_'.join(os.path.splitext(os.path.basename(file))[0].split('_')[1:3])
#     # Add a new column with the extracted file name part
#     df['season'] = file_identifier
#     # Append the dataframe to the list
#     dfs.append(df)

# # Concatenate all dataframes in the list into a single dataframe
# df_peachtree_orig = pd.concat(dfs, ignore_index=True)

In [49]:
conn = ps.connect(database="1264bra", user="postgres", password="password", host="localhost", port="5432") 

cur = conn.cursor()

sql_query_leagues = """
    select league_id
            , sub_division
    from peachtree.league_hierarchy
"""

cur.execute(sql_query_leagues)

results = cur.fetchall()
column_names = [desc[0] for desc in cur.description]
df_peachtree_hierarchy = pd.DataFrame(results, columns=column_names)

###

conn.rollback()
sql_query_donations = """
    select gender_id
            , gender
    from peachtree.gender
"""
cur.execute(sql_query_donations)


results = cur.fetchall()
column_names = [desc[0] for desc in cur.description]
df_peachtree_gender = pd.DataFrame(results, columns=column_names)

###

conn.rollback()
sql_query_donations = """
    select all_girl_preference_id
            , all_girl_coach_pitch_team
            , preference_standardized
    from peachtree.all_girls_team_preference
"""
cur.execute(sql_query_donations)


results = cur.fetchall()
column_names = [desc[0] for desc in cur.description]
df_peachtree_all_girl_cp = pd.DataFrame(results, columns=column_names)

###

conn.rollback()
sql_query_donations = """
    select donation_id
            , donation_sub_category
            , amount
    from peachtree.donation_category
"""
cur.execute(sql_query_donations)


results = cur.fetchall()
column_names = [desc[0] for desc in cur.description]
df_peachtree_donations = pd.DataFrame(results, columns=column_names)

###

conn.rollback()
sql_query_player_info = """
    select peachtree_id
            , sportsengine_id
    from peachtree.player_info
"""
cur.execute(sql_query_player_info)


results = cur.fetchall()
column_names = [desc[0] for desc in cur.description]
df_peachtree_player_info= pd.DataFrame(results, columns=column_names)

###

conn.rollback()
sql_query_schools = """
        select school_original
                        , school_normalized_id
        from peachtree.vw_school_reference
"""
cur.execute(sql_query_schools)


results = cur.fetchall()
column_names = [desc[0] for desc in cur.description]
df_peachtree_schools= pd.DataFrame(results, columns=column_names)



# Close the cursor and connection 
cur.close() 
conn.close()

In [50]:
df_peachtree_dict = df_peachtree_hierarchy.set_index('sub_division')['league_id'].to_dict()

df_peachtree_donation_dict = df_peachtree_donations.set_index('donation_sub_category')['donation_id'].to_dict()

df_peachtree_gender_dict = df_peachtree_gender.set_index('gender')['gender_id'].to_dict()

df_peachtree_all_girl_dict = df_peachtree_all_girl_cp.set_index('all_girl_coach_pitch_team')['all_girl_preference_id'].to_dict()

df_peachtree_player_dict = df_peachtree_player_info.set_index('sportsengine_id')['peachtree_id'].to_dict()

df_peachtree_schools_dict = df_peachtree_schools.set_index('school_original')['school_normalized_id'].to_dict()

In [51]:
df_peachtree = df_peachtree_orig.copy()

In [52]:
df_peachtree.columns = df_peachtree.columns.str.lower().str.replace(' ', '_')

In [53]:
# Remove commas from 'Registration Date' column
df_peachtree['registration_date'] = df_peachtree['registration_date'].str.replace(',', '')

In [54]:
# Apply function to DataFrame column
df_peachtree['registration_date'] = df_peachtree['registration_date'].apply(parse_and_localize)

# Convert to datetime without timezone information
df_peachtree['registration_date'] = pd.to_datetime(df_peachtree['registration_date'], format='%m/%d/%Y %I:%M%p')

In [55]:
# Creating the new date column 'registration_date'
df_peachtree['registration_date'] = df_peachtree['registration_date'].dt.date

# Assuming df_peachtree is your DataFrame
df_peachtree['registration_date'] = pd.to_datetime(df_peachtree['registration_date'])

# Assuming df_peachtree is your DataFrame
df_peachtree = df_peachtree.map(lambda x: x.strip() if isinstance(x, str) else x)


# Assuming 'df' is your DataFrame
df_peachtree = df_peachtree.rename(columns={'division_(baseball_and_t-ball)': 'division'
                                            , 'sport_' : 'sport'
                                            })

# Remove underscores from the 'filename' column
df_peachtree['season'] = df_peachtree['season'].str.replace('_', ' ')

# Removing '?' from any column headers 
df_peachtree.columns = df_peachtree.columns.str.replace('?', '')

# Applying title case to 'first_name' and 'last_name' columns
df_peachtree['first_name'] = df_peachtree['first_name'].str.title()
df_peachtree['last_name'] = df_peachtree['last_name'].str.title()

# Replace null values in 'Division' where 'Sport' is 'Softball'
df_peachtree.loc[(df_peachtree['sport'] == 'Softball') & (df_peachtree['division'].isnull()), 'division'] = df_peachtree['division_(softball)']

df_peachtree['division'] = df_peachtree['division'].map(df_peachtree_dict)

df_peachtree['donate'] = df_peachtree['donate'].map(df_peachtree_donation_dict)

df_peachtree['gender'] = df_peachtree['gender'].map(df_peachtree_gender_dict)

# Convert the dictionary keys to lowercase, handling NoneType keys
df_peachtree_schools_dict = {k.lower() if k is not None else 'unknown': v for k, v in df_peachtree_schools_dict.items()}

# Replace NoneType and 'None' string values in the 'school' column with 'Unknown'
df_peachtree['school'] = df_peachtree['school'].fillna('Unknown').replace('None', 'Unknown')

# Map the 'school' column in a case-insensitive manner
df_peachtree['school'] = df_peachtree['school'].str.lower().map(df_peachtree_schools_dict)

# Custom mapping function to handle NaN values
def map_values(val, mapping_dict):
    if pd.isna(val):
        return mapping_dict.get(None)
    else:
        return mapping_dict.get(val, val)

# Applying the custom mapping function
df_peachtree['all_girl_coach_pitch_team'] = df_peachtree['all_girl_coach_pitch_team'].apply(map_values, args=(df_peachtree_all_girl_dict,))

df_peachtree['peachtree_id'] = df_peachtree['sportsengine_id'].map(df_peachtree_player_dict)

# Define the columns and their target data types
columns_to_convert = {
    'gross': float,
    'net': float,
    'service_fee': float,
    'discount_amount': float,
    'subtotal': float,
    'refunds': float,
    'entry_number': object,
    'donate': object,
    'peachtree_id':object,
    'school': object, 
    'division': object
}

# Remove dollar signs and convert to the specified data types
for column, dtype in columns_to_convert.items():
    if dtype == float:
        df_peachtree[column] = df_peachtree[column].replace(r'[\$,]', '', regex=True).astype(dtype)
    elif dtype == 'int64':
        df_peachtree[column] = df_peachtree[column].fillna(0).astype(dtype)
    else:
        df_peachtree[column] = df_peachtree[column].astype(dtype)

# Update 'division' based on 'refunds to 'Refunded'/8
df_peachtree['division'] = df_peachtree.apply(lambda row: 8 if row['refunds'] > 0 else row['division'], axis=1)

# # Calculate the count of records for each order_number
# order_counts = df_peachtree.groupby('order_number')['order_number'].transform('count')

# # Columns to be divided
# columns_to_divide = ['gross', 'net', 'service_fee', 'subtotal']

# # Divide the selected columns by the count
# df_peachtree[columns_to_divide] = df_peachtree[columns_to_divide].apply(lambda x: x / order_counts)

# Calculate the count of records for each order_number, excluding divisions 13 and 14
order_counts = df_peachtree[df_peachtree['division'].isin([8, 13, 14]) == False].groupby('order_number')['order_number'].transform('count')

# Columns to be divided
columns_to_divide = ['gross', 'net', 'service_fee', 'subtotal']

# # Divide the selected columns by the count, excluding divisions 13 and 14
# df_peachtree[columns_to_divide] = df_peachtree.apply(lambda row: row[columns_to_divide] / order_counts[row.name] if row['division'] not in [13, 14] else row[columns_to_divide], axis=1)

# Apply the function to each row in the DataFrame 
df_peachtree = df_peachtree.apply(divide_or_zero, axis=1)

# Renaming the column 'donate' to 'donate_id' 
df_peachtree.rename(columns={'donate': 'donation_id'
                             ,'gender':'gender_id'
                             , 'all_girl_coach_pitch_team': 'all_girl_coach_pitch_id'
                             }, inplace=True)

df_peachtree = df_peachtree.drop(columns=['division_(softball)'
                                          , 'sport'
                                        #   , 'first_name'
                                        #   , 'last_name'
                                        #   , 'preferred_name'
                                        #   , 'birthdate'
                                        #   , 'address_1'
                                        #   , 'city'
                                        #   , 'state'
                                        #   , 'zip'
                                        #   , 'sportsengine_id'
                                          ])

In [56]:
# Calculate subtotal_true with additional checks
df_peachtree['subtotal_true'] = df_peachtree.apply(lambda row: 
    row['subtotal'] - df_peachtree_donations[df_peachtree_donations['donation_id'] == row['donation_id']]['amount'].sum() 
    if row['donation_id'] != 0 else row['subtotal'], axis=1)

In [57]:
# df_peachtree[(df_peachtree['season']== 'spring 2025') & (df_peachtree['last_name']=="Giordano")]

In [58]:
# def summarize_dataframe(df):
#     """Summarize a dataframe, and report missing values."""
#     missing_values = pd.concat([
#         pd.DataFrame(df.columns, columns=['Variable Name']),
#         pd.DataFrame(df.dtypes.values.reshape([-1,1]), columns=['Data Type']),
#         pd.DataFrame(df.isnull().sum().values, columns=['Missing Values']),
#         pd.DataFrame([df[name].nunique() for name in df.columns], columns=['Unique Values'])
#     ], axis=1).set_index('Variable Name')

#     with pd.option_context("display.max_rows", 1000):
#         summary = pd.concat([missing_values, df.describe(include='all').transpose()], axis=1).infer_objects(copy=False).fillna("")
#         display(summary)

In [59]:
# summarize_dataframe(df_peachtree)

In [60]:
# df_peachtree[(df_peachtree['school']==58) & (df_peachtree['season']== 'spring 2024')]
df_peachtree[(df_peachtree['school'].isna()) & (df_peachtree['season']== 'fall 2025')]
# df_peachtree[df_peachtree['registration_date'] == '2023-11-30']
# df_peachtree['division'].value_counts()
# df_peachtree[df_peachtree['division']==6]
# df_peachtree.value_counts('gender')
# df_peachtree

,entry_number,sportsengine_id,registration_date,first_name,last_name,preferred_name,birthdate,gender_id,shirt_size,previous_seasons,previous_spring_team,address_1,city,state,zip,country,school,grade,division,coach_request,player_request,all_girl_tball_team,all_girl_coach_pitch_id,sibling,cannot_practice_days,guardian_first_name,guardian_last_name,parent/guardian_cell_phone,guardian_home_phone,guardian_email,coaching_interest,head_vs_assistant_coach,first_name_of_potential_coach,last_name_of_potential_coach,shirt_size_coach,sponsor_interest,order_number,account_email,entry_status,order_status,gross,net,service_fee,discount_amount,discount_names,subtotal,refunds,donation_id,season_team_name,season_team_division_name,season,peachtree_id,subtotal_true
68,151305468,SN-PJT942226,2025-07-18,John,Teel,Jack,10/19/2020,2,Y-XS,0,NaN,4261 Edge Valley Road,North Garden,VA,22959,United States,NaN,K,7.0,NaN,Henry Sheline,NaN,3,NaN,NaN,Katie,Teel,4349608021,4349608021,katieteelevents@gmail.com,No,NaN,NaN,NaN,NaN,No,JWKY79297,katieteelevents@gmail.com,Active,Paid,98.0,93.320000,4.680000,0.0,NaN,98.0,0.0,NaN,NaN,NaN,fall 2025,686,98.0
76,151363371,SN-PLT948713,2025-07-20,William,Connors,Will,07/01/2018,2,Y-S,4,NaN,PO Box 5040,Charlottesville,VA,22905,United States,NaN,1st,4.0,NaN,NaN,NaN,3,Yes. Mason Connors,Mondays,Karen,Connors,2156940190,2156940190,kconnors3@gmail.com,Yes,Assistant Coach,Karen,Connors,A-S,No,CMWY40405,kconnors3@gmail.com,Active,Paid,100.5,96.485000,4.015000,0.0,NaN,100.5,0.0,NaN,NaN,NaN,fall 2025,688,100.5
77,151363605,SN-PBL496846,2025-07-20,Mason,Connors,NaN,07/15/2020,2,Y-XS,2,"Advanced coach pitch, Brodie Downs, Yankees",PO Box 5040,Charlottesville,VA,22905,United States,NaN,K,6.0,Brodie Downs,Landon Downs,NaN,3,"No, brother plays in Rookie",Mondays,Karen,Connors,215-694-0190,215-694-0190,kconnors3@gmail.com,Yes,Assistant Coach,Karen,Connors,A-S,No,CMWY40405,kconnors3@gmail.com,Active,Paid,100.5,96.485000,4.015000,0.0,NaN,100.5,0.0,NaN,NaN,NaN,fall 2025,97,100.5
89,151441268,SN-PDA062197,2025-07-21,Georgia,Willmann,NaN,01/23/2021,1,Y-XS,1,"In Colorado, played a season of tball",756 Park Ridge Drive,Crozet,VA,22932,United States,NaN,K,7.0,NaN,NaN,Yes,3,NaN,Wednesday,Montana,Brown,7036277729,7036277729,montanab@rmc.org,No,NaN,NaN,NaN,NaN,No,YLJR36071,montanab@rmc.org,Active,Paid,98.0,93.320000,4.680000,0.0,NaN,98.0,0.0,NaN,NaN,NaN,fall 2025,693,98.0
95,151473633,SN-PYP759791,2025-07-22,Anthony,Ferenzi,Tony,09/14/2016,2,Y-L,5,Rookie 8U,120 Apple Lane,Charlottesville,VA,22903,United States,NaN,4th,3.0,NaN,NaN,NaN,3,NaN,NaN,Elizabeth,Eaton-Ferenzi,8454896717,8454896717,eaton.eliza@gmail.com,No,NaN,NaN,NaN,NaN,No,ZIKM37343,eaton.eliza@gmail.com,Active,Paid,103.0,99.153333,3.846667,0.0,NaN,103.0,0.0,NaN,NaN,NaN,fall 2025,164,103.0
104,151519413,SN-PLT085771,2025-07-23,Wyatt,Donovan,NaN,03/17/2021,2,Y-S,2,Beginner TBall,6395 Dick Woods road,Charlottesville,VA,22903,United States,NaN,K,7.0,"Brian Donovan, Bobby Thompson, Joe O'Brien","Grey Thompson, Sean O'Brien",NaN,3,No,NaN,Brian,Donovan,4346372150,4346372556,briandonovan46@yahoo.com,Yes,Head Coach,Brian,Donovan,Y-L,No,RXCO62322,brian@beckcohen.com,Active,Paid,100.5,96.485000,4.015000,0.0,NaN,100.5,0.0,NaN,NaN,NaN,fall 2025,141,100.5
110,151546202,SN-PMA137811,2025-07-23,Nolan,Moga,NaN,04/24/2014,2,A-M,6,Majors tigers,53 Waters Edge Lane,Nellysford,VA,22958,United States,NaN,5th,2.0,NaN,NaN,NaN,3,NaN,NaN,Dave,Moga,4348822771,4342219464,lmoga72@gmail.com,No,NaN,NaN,NaN,NaN,No,MOAP48356,dave.moga@yahoo.com,Active,Paid,103.0,98.150000,4.850000,0.0,NaN,103.0,0.0,NaN,NaN,NaN,fall 2025,372,103.0

In [61]:
# Apply season filter only if a specific override is set
if full_or_override != 'full':
    df_peachtree_orig = df_peachtree_orig[df_peachtree_orig['season'] == season]

In [62]:
# # Get the total sum of 'gross' grouped by 'season'
# gross_totals_by_season = df_peachtree.groupby('season')['gross'].sum()

# # Display the result
# print(gross_totals_by_season)

In [63]:
df_peachtree.shape[0]

114

In [64]:
# Determine write mode based on override
ReplaceOrAppend = 'replace' if full_or_override == 'full' else 'append'

# Database connection
engine = create_engine('postgresql://postgres:password@localhost:5432/1264bra')

# Target schema and table
destinationschema = 'peachtree'
destinationtable = 'player_registrations'

In [65]:
# # Only delete if appending specific season data
# if full_or_override != 'full':
#     with engine.begin() as connection:
#         delete_query = text(f"""
#             DELETE FROM {destinationschema}.{destinationtable}
#             WHERE season = :season
#         """)
#         result = connection.execute(delete_query, {"season": season})
#         print(f"Deleted {result.rowcount} rows for season '{season}'.")

In [66]:
# # Only delete if appending specific season data
# if full_or_override != 'full':
#     with engine.begin() as connection:
#         delete_query = text(f"""
#             DELETE FROM {destinationschema}.{destinationtable}
#             WHERE season = :season
#         """)
#         result = connection.execute(delete_query, {"season": season})
#         print(f"Deleted {result.rowcount} rows for season '{season}'.")

# with engine.connect() as conn:
#     df_peachtree.to_sql(destinationtable, con=conn, schema=destinationschema, if_exists=ReplaceOrAppend, index=False)
#     # Close the cursor and connection 
#     cur.close() 
#     conn.close()

In [67]:
# Count rows before upload
upload_count = len(df_peachtree)

with engine.begin() as conn:
    if full_or_override != 'full':
        delete_query = text(f"""
            DELETE FROM {destinationschema}.{destinationtable}
            WHERE season = :season
        """)
        result = conn.execute(delete_query, {"season": season})
        print(f"Deleted {result.rowcount} rows for season '{season}'")

    df_peachtree.to_sql(
        name=destinationtable,
        con=conn,
        schema=destinationschema,
        if_exists=ReplaceOrAppend,
        index=False
    )

print(f"Uploaded {upload_count} rows for '{season}' load")

Deleted 112 rows for season 'fall 2025'
Uploaded 114 rows for 'fall 2025' load