In [1]:
import pandas as pd
import numpy as np
import psycopg2 as ps
from psycopg2 import sql
from sqlalchemy import create_engine
import os
import openpyxl
from datetime import date
import glob

import re

# Set display option to show all columns 
pd.set_option('display.max_columns', None)

# Change the current working directory
os.chdir('C:\\Users\\cantr\\OneDrive\\Coding\\GiordanoDB\\Peachtree\\registration_data')

In [2]:
def normalize_name(s):
    if pd.isna(s):
        return ""
    # keep only letters and numbers
    return re.sub(r"[^a-zA-Z0-9]", "", s).lower()

In [3]:
# 1) Define columns once (clean names only)
desired_columns = [
    'SportsEngine ID', 'First Name', 'Last Name',
    'Birthdate', 'Address 1', 'City', 'State', 'Zip'
]

def sanitize_columns(col_index):
    # Remove any literal backslash-uFEFF sequences
    col_index = col_index.str.replace(r'\\uFEFF', '', regex=True)
    # Drop any real BOM character if present
    col_index = col_index.str.lstrip('\ufeff')
    # Trim stray whitespace
    col_index = col_index.str.strip()
    return col_index

# 2) Iterate, sanitize, reindex, collect
dfs = []
for file in glob.glob("*.csv"):
    # Use utf-8-sig to nuke BOM on read
    df = pd.read_csv(file, encoding='utf-8-sig')
    # Sanitize the headers
    df.columns = sanitize_columns(df.columns)
    print(f"{file} ->", df.columns.tolist())  # confirm cleanup
    # Reindex to your known-good list
    df = df.reindex(columns=desired_columns)
    dfs.append(df)

# 3) Concatenate once everything looks correct
df_peachtree_orig = pd.concat(dfs, ignore_index=True)

dashboard_fall_2024_report.csv -> ['First Name', 'Last Name', 'Preferred Name', 'Birthdate', 'Gender', 'Shirt Size', 'Previous Seasons?', 'Previous Spring Team', 'Address 1', 'City', 'State', 'Zip', 'Country', 'School', 'Grade', 'Sport', 'Division (Baseball and T-Ball)', 'Division (Softball)', 'Coach Request', 'Player Request', 'All Girl Tball team?', 'All Girl Coach Pitch Team', 'Sibling?', 'CANNOT Practice Days', 'Any Comments?', 'Guardian First Name', 'Guardian Last Name', 'Parent/Guardian Cell Phone', 'Guardian Home Phone', 'Guardian Email', 'Coaching Interest?', 'Head vs Assistant Coach', 'First Name of Potential Coach', 'Last Name of Potential Coach', 'Shirt Size_Coach', 'Sponsor Interest?', 'Entry Number', 'Registration Date', 'Order Number', 'Account Email', 'Entry Status', 'SportsEngine ID', 'Order Status', 'Gross', 'Net', 'Service Fee', 'Discount Amount', 'Discount Names', 'Subtotal', 'Refunds', 'Season Team Name', 'Season Team Division Name', 'Donate']
dashboard_fall_2025_report.csv -> ['First Name', 'Last Name', 'Preferred Name', 'Birthdate', 'Gender', 'Shirt Size', 'Previous Seasons?', 'Previous Spring Team', 'Address 1', 'City', 'State', 'Zip', 'Country', 'School', 'Grade', 'Sport', 'Division (Baseball and T-Ball)', 'Division (Softball)', 'Coach Request', 'Player Request', 'All Girl Tball team?', 'All Girl Coach Pitch Team', 'Sibling?', 'CANNOT Practice Days', 'Any Comments?', 'Guardian First Name', 'Guardian Last Name', 'Parent/Guardian Cell Phone', 'Guardian Home Phone', 'Guardian Email', 'Coaching Interest?', 'Head vs Assistant Coach', 'First Name of Potential Coach', 'Last Name of Potential Coach', 'Shirt Size_Coach', 'Sponsor Interest?', 'Registration Fee (Baseball and T-Ball)', 'Registration Fee (Softball)', 'Donate', 'Entry Number', 'Player Profile', 'Registration Date', 'Order Number', 'Account Email', 'Entry Status', 'SportsEngine ID', 'Order Status', 'Gross', 'Net', 'Service Fee', 'Discount Amount', 'Subtotal', 'Refunds', 'Credits', 'Season Team Name', 'Season Team Division Name']
dashboard_spring_2024_report.csv -> ['First Name', 'Last Name', 'Preferred Name', 'Birthdate', 'Gender', 'Shirt Size', 'Previous Seasons?', 'Previous Spring Team', 'Address 1', 'City', 'State', 'Zip', 'Country', 'School', 'Grade', 'Sport', 'Division (Baseball and T-Ball)', 'Division (Softball)', 'Coach Request', 'Player Request', 'All Girl Tball team?', 'All Girl Coach Pitch Team', 'Play Up?', 'Sibling?', 'CANNOT Practice Days', 'Any Comments?', 'Guardian First Name', 'Guardian Last Name', 'Parent/Guardian Cell Phone', 'Guardian Home Phone', 'Guardian Email', 'Coaching Interest?', 'Head vs Assistant Coach', 'First Name of Potential Coach', 'Last Name of Potential Coach', 'Shirt Size_Coach', 'Sponsor Interest?', 'Entry Number', 'Registration Date', 'Order Number', 'Entry Status', 'SportsEngine ID', 'Order Status', 'Gross', 'Net', 'Service Fee', 'Discount Amount', 'Discount Names', 'Subtotal', 'Refunds', 'Season Team Name', 'Season Team Division Name', 'Donate']
dashboard_spring_2025_report.csv -> ['Registration Date', 'First Name', 'Last Name', 'Preferred Name', 'Birthdate', 'Gender', 'Shirt Size', 'Previous Seasons?', 'Previous Spring Team', 'Address 1', 'City', 'State', 'Zip', 'Country', 'School', 'Grade', 'Sport', 'Division (Baseball and T-Ball)', 'Division (Softball)', 'Coach Request', 'Player Request', 'All Girl Tball team?', 'All Girl Coach Pitch Team', 'Sibling?', 'CANNOT Practice Days', 'Any Comments?', 'Guardian First Name', 'Guardian Last Name', 'Parent/Guardian Cell Phone', 'Guardian Home Phone', 'Guardian Email', 'Coaching Interest?', 'Head vs Assistant Coach', 'First Name of Potential Coach', 'Last Name of Potential Coach', 'Shirt Size_Coach', 'Sponsor Interest?', 'Registration Fee (Baseball and T-Ball)', 'Registration Fee (Softball)', 'Donate', 'Entry Number', 'Player Profile', 'Order Number', 'Account Email', 'Entry Status', 'SportsEngine ID', 'Order Status', 'Gross', 'Net', 'Service Fee', 'Discount Amount', 'Subtotal', 'Refunds', 'Credits', 'Season Team Name', 'Season Team Division Name']
dashboard_spring_2026_report.csv -> ['First Name', 'Last Name', 'Preferred Name', 'Birthdate', 'Gender', 'Shirt Size', 'Previous Seasons?', 'Previous Spring Team', 'Address 1', 'City', 'State', 'Zip', 'Country', 'School', 'Grade', 'Guardian First Name', 'Guardian Last Name', 'Parent/Guardian Cell Phone', 'Guardian Home Phone', 'Guardian Email', 'Coaching Interest?', 'Head vs Assistant Coach', 'First Name of Potential Coach', 'Last Name of Potential Coach', 'Shirt Size_Coach', 'Sponsor Interest?', 'Sport', 'BB Age', 'SB Age', 'Division (BB/TB)', 'Division (SB)', 'I understand the criteria for evaluating to play up in an older division as written in the Peachtree bylaws and summarized above.', 'All Girl Coach Pitch Team', 'All Girl Tball team?', 'Player Request', 'Coach Request', 'Sibling?', 'CANNOT Practice Days', 'Any Comments?', 'Donate', 'Entry Number', 'Player Profile', 'Registration Date', 'Order Number', 'Account Email', 'Entry Status', 'SportsEngine ID', 'Order Status', 'Gross', 'Net', 'Service Fee', 'Discount Amount', 'Subtotal', 'Refunds', 'Credits', 'Season Team Name', 'Season Team Division Name']

In [4]:
df_peachtree = df_peachtree_orig.copy()

# Assuming df_peachtree is your DataFrame
df_peachtree = df_peachtree.map(lambda x: x.strip() if isinstance(x, str) else x)

df_peachtree.columns = df_peachtree.columns.str.lower().str.replace(' ', '_')

df_peachtree["birthdate"] = pd.to_datetime(
    df_peachtree["birthdate"],
    errors="coerce"
)

df_peachtree["birthdate"] = df_peachtree["birthdate"].dt.strftime("%Y-%m-%d")

# # Applying title case to 'first_name' and 'last_name' columns
# df_peachtree['first_name'] = df_peachtree['first_name'].str.title()
# df_peachtree['last_name'] = df_peachtree['last_name'].str.title()

In [5]:
# df_peachtree[df_peachtree['first_name'].isnull()]
# df_peachtree[df_peachtree['last_name']== 'Smotherman']

In [6]:
conn = ps.connect(database="1264bra", user="postgres", password="password", host="localhost", port="5432") 

cur = conn.cursor()

sql_query_players = """
    select sportsengine_id
            , peachtree_id
            , first_name
            , last_name
            , cast(birthdate as date) as birthdate
    from peachtree.player_info
"""

cur.execute(sql_query_players)

results = cur.fetchall()
column_names = [desc[0] for desc in cur.description]
df_existing_peachtree_ids = pd.DataFrame(results, columns=column_names)

# Close the cursor and connection 
cur.close() 
conn.close()

In [7]:
# df_existing_peachtree_ids[df_existing_peachtree_ids['first_name']=='Dean']

In [8]:
existing_sportsengine_ids = set(df_existing_peachtree_ids['sportsengine_id'])

In [9]:
# df_peachtree["existing_kids_id"] = (
#     df_peachtree["first_name"].apply(normalize_name) +
#     df_peachtree["last_name"].apply(normalize_name) +
#     df_peachtree["birthdate"].astype(str)
# )

# existing_kids_ids = set(df_peachtree["existing_kids_id"])

# Ensure the variable exists
if 'df_peachtree' in globals() and isinstance(df_peachtree, pd.DataFrame):
    df_peachtree["existing_kids_id"] = (
        df_peachtree["first_name"].apply(normalize_name)
        + df_peachtree["last_name"].apply(normalize_name)
        + df_peachtree["birthdate"].astype(str)
    )
    existing_kids_ids = set(df_peachtree["existing_kids_id"])
else:
    existing_kids_ids = set()   # empty fallback

In [10]:
# # Step 2: Determine the highest existing peachtree_id
# if not df_existing_peachtree_ids.empty:
#     highest_peachtree_id = df_existing_peachtree_ids['peachtree_id'].max()
# else:
#     highest_peachtree_id = 0

# Determine the highest existing peachtree_id
if (
    'df_existing_peachtree_ids' in globals() 
    and isinstance(df_existing_peachtree_ids, pd.DataFrame)
    and not df_existing_peachtree_ids.empty
    and 'peachtree_id' in df_existing_peachtree_ids.columns
):
    highest_peachtree_id = df_existing_peachtree_ids['peachtree_id'].max()
else:
    highest_peachtree_id = 0  # so the next ID becomes 1

In [11]:
highest_peachtree_id

np.int64(825)

In [12]:
# Ensure the variable exists
if 'existing_sportsengine_ids' not in globals():
    existing_sportsengine_ids = []

# Step 2: Filter the DataFrame to exclude rows with existing sportsengine_id values
df_new_entries_orig = df_peachtree[~df_peachtree['sportsengine_id'].isin(existing_sportsengine_ids)]
# df_new_entries_orig = df_peachtree[df_peachtree['existing_kids_id'].isin(existing_kids_ids)]

In [13]:
df_new_entries = df_new_entries_orig.copy()

In [14]:
df_new_entries.shape

(2, 9)

In [15]:
# Group by 'First Name' and 'Last Name' and filter groups with more than one unique 'SportsEngine ID'
different_sportsengine_id = df_new_entries.groupby(['last_name', 'first_name', 'birthdate']).filter(lambda x: x['sportsengine_id'].nunique() > 1)

In [16]:
# Display the result
different_sportsengine_id.sort_values(by=['last_name', 'first_name']).reset_index(drop=True)

Empty DataFrame
Columns: [sportsengine_id, first_name, last_name, birthdate, address_1, city, state, zip, existing_kids_id]
Index: []

In [17]:
# Step 2: Create a unique peachtree_id for each person based on 'last_name', 'first_name', and 'birthdate'
df_new_entries['peachtree_id'] = df_new_entries.groupby('existing_kids_id').ngroup() + highest_peachtree_id + 1

# Move the 'peachtree_id' column to the front
columns = ['peachtree_id'] + [col for col in df_new_entries.columns if col != 'peachtree_id']
df_new_entries = df_new_entries[columns]

In [18]:
df_new_entries

,peachtree_id,sportsengine_id,first_name,last_name,birthdate,address_1,city,state,zip,existing_kids_id
1895,827,SN-PCT022089,Harrison,Cooper,2012-01-30,4750 Clover Ridge Ct,Charlotteville,VA,22901,harrisoncooper2012-01-30
1896,826,SN-PEP525234,Harden,Morgan,2021-05-02,3054 Glen Valley Drive,Crozet,VA,22932,hardenmorgan2021-05-02

In [19]:
# # Step 3: Keep only one row for each unique peachtree_id
# df_unique_new_entries = df_new_entries.drop_duplicates(subset='sportsengine_id', keep='first')

df_unique_new_entries = df_new_entries.drop_duplicates(
    subset=['existing_kids_id', 'sportsengine_id'],
    keep='first'
)

In [20]:
df_unique_new_entries[df_unique_new_entries['peachtree_id'].isnull()]

Empty DataFrame
Columns: [peachtree_id, sportsengine_id, first_name, last_name, birthdate, address_1, city, state, zip, existing_kids_id]
Index: []

In [21]:
df_unique_new_entries = df_unique_new_entries.sort_values(by=['existing_kids_id']).reset_index(drop=True)

In [22]:
df_unique_new_entries[df_unique_new_entries['last_name'] == "Smotherman"]
# df_unique_new_entries[df_unique_new_entries['sportsengine_id'] == "SN-PAN169473"]

Empty DataFrame
Columns: [peachtree_id, sportsengine_id, first_name, last_name, birthdate, address_1, city, state, zip, existing_kids_id]
Index: []

In [23]:
# is there way to remove things that already exists so i'm only appending new?maybe the below code?

# df_new_entries_orig = df_peachtree[~df_peachtree['sportsengine_id'].isin(existing_sportsengine_ids)]

In [24]:
df_unique_new_entries

,peachtree_id,sportsengine_id,first_name,last_name,birthdate,address_1,city,state,zip,existing_kids_id
0,826,SN-PEP525234,Harden,Morgan,2021-05-02,3054 Glen Valley Drive,Crozet,VA,22932,hardenmorgan2021-05-02
1,827,SN-PCT022089,Harrison,Cooper,2012-01-30,4750 Clover Ridge Ct,Charlotteville,VA,22901,harrisoncooper2012-01-30

In [25]:
engine = create_engine('postgresql://postgres:password@localhost:5432/1264bra')

ReplaceOrAppend = 'append'
destinationschema = 'peachtree'
destinationtable = f'player_info'

In [26]:
with engine.connect() as conn:
    df_unique_new_entries.to_sql(destinationtable, con=conn, schema=destinationschema, if_exists=ReplaceOrAppend, index=False)